<input id="fileUpload" #inputFile type="file" [style.display]="'none'" (change)="upload($event.target.files)">

<div class="example-container">
  <div>
	  <mat-form-field (input)="filter($event.target.value)">
	    <input matInput placeholder="Employees less than given age">
	  </mat-form-field>
  </div>
  <div>
	  <mat-form-field (input)="sort($event.target.value)">
	    <input matInput placeholder="All employees sort by">
	  </mat-form-field>
  </div>

  <button mat-button (click)="inputFile.click()">Upload File</button>
</div>

<mat-card *ngIf="alert">{{alert}}</mat-card>

<mat-list *ngIf="employees">
   <mat-list-item class="card-1" *ngFor="let employee of employees">
      <mat-icon matListIcon>face</mat-icon>
      <h2 matLine>{{employee.name}}</h2>
      <h4 matLine>Company: {{employee.company}}. Join date: {{employee.joindate}}. Salary: {{employee.salary}}</h4>
      <p matLine> {{employee.age}} years old.</p>
      <p matLine>Phone: {{employee.phone}}. Email: {{employee.email}}</p>
	  <p matLine *ngIf="employee.address">Street: {{employee.address.street}}</p>
	  <p matLine *ngIf="employee.address">City: {{employee.address.city}}</p>
	  <p matLine *ngIf="employee.address">zipcode: {{employee.address.zipcode}}</p>      	
   </mat-list-item>
</mat-list>